/* Padding, margin */
$mini: 8px;
$small: 15px;
$medium: 30px;
$large: 50px;
$xl: 100px;

/* Font */
$mini-font: .6em;
$small-font: .8em;
$medium-font: 1em;
$large-font: 1.25em;
$xl-font: 1.5em;
$x2-font: 2.5em;
$x3-font: 3.5em;
$x4-font: 4em;

@font-face {
	font-family: "IBM Plex Sans";
    src: url("./font/IBMPlexSans-Medium.ttf");
    src: url("{{ url_for('frontend.static', filename='font/IBMPlexSans-Medium.ttf') }}");
    font-weight: 400;
}

@font-face {
	font-family: "IBM Plex Sans";
    src: url("./font/IBMPlexSans-Bold.ttf");
    src: url("{{ url_for('frontend.static', filename='font/IBMPlexSans-Bold.ttf') }}");
    font-weight: 700;
    font-weight: bold;
}

@font-face {
	font-family: "IBM Plex Sans";
    src: url("./font/IBMPlexSans-MediumItalic.ttf");
    src: url("{{ url_for('frontend.static', filename='font/IBMPlexSans-MediumItalic.ttf') }}");
    font-weight: 400;
    font-style: italic;
}


$heading-font-family: 'IBM Plex Sans', sans-serif;
$content-font-family: 'Nunito', sans-serif;


/* Breakpoints */
$mobile: 768px;
$tablet: 1024px;

/* Colors */
$primary-color: #333;
$secondary-color: #455817;
$accent-color: #2a1758;
$panel-color: $secondary-color;
$button-color: $accent-color;
$inverse: #ffffff;

/* Shadow/Card */
$shadow: 0px 0px 25px 3px #eee;
$border-radius: 25px;


@mixin card {
    border-radius: $border-radius;
    box-shadow: $shadow;
}

@mixin heading-bold {
    font-family: $heading-font-family;
    font-weight: bold;
}

