{% extends 'admin/layout.html' %}

{% block content %}
<section class="banner">
    <div class="container">
        <div class="module w100 mbm">
            <h2>Edit {{course.course_type}}</h2>
        </div>

        <div class="module w50 prl">
            <div class="container">
                <div class="module w100 pbm mbm overview">
                    <h3 class="mbs">Details</h3>
                    <form action="" method="post" novalidate>
                        {{ course_form.hidden_tag() }}

                        <p>
                            {{ course_form.title.label }}<br>
                            {{ course_form.title(class="input-title") }}
                        </p>
                        <p>
                            {{ course_form.course_type.label }}<br>
                            {{ course_form.course_type(class="select") }}
                        </p>
                        <p>
                            {{ course_form.description.label }}<br>
                            {{ course_form.description(rows=8) }}
                        </p>
                        <p>
                            {{ course_form.slug.label }}<br>
                            {{ course_form.slug() }}
                        </p>

                        <select name="author" class="select">
                            {% for author in authors %}
                            <option value="{{ author.id }}">{{ author.name }}</option>
                            {% endfor %}
                        </select>

                        <p>{{ course_form.submit(class="button light bottom-fixed module w40") }}</p>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

<script>
    $('#button-add-stage').on('click', function () {
        $('.stage-form').show();
    });

    $('#button-add-step').on('click', function () {
        $('.step-form').show();
    });

    $('#button-cancel-add').on('click', function () {
        $(this).parent().hide();
    });
</script>

<script src="{{ url_for('admin.static', filename='js/draggable.js') }}"></script>

<style>
    #stage-order {
        display: none;
    }

    .step-form {
        display: none
    }

    .hidden-form {
        border-bottom: 1px solid #ddd;
    }

    .input-title {
        font-size: 2em;
    }

    .bottom-fixed {
        position: fixed;
        bottom: 25px;
        right: 25px;
    }
</style>

{% endblock %}