{% extends 'admin/layout.html' %}

{% block content %}
<section class="banner">
    <div class="container">
        <div class="module ps w100 mbm">
            <h2>Roles</h2>
        </div>

        <div class="module ps w100 mbm">
            Create New Role

            <form action="" method="post" novalidate>

                {{ role_form.hidden_tag() }}

                <div class="module mbs">
                    {{ role_form.name.label }}<br>
                    {{ role_form.name() }}
                </div>

                {{ role_form.submit(class="button") }}
            </form>
        </div>

        {% for role in roles %}
        <div class="module w100 card ps mbm">
            <div class="container-extender align-middle">
                <div class="module w70 prm">
                    <h3>{{ role.name }}</h3>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</section>
{% endblock %}