{% extends 'frontend/layout.html' %}

{% block content %}

<body>

    <section class="banner" id="course-{{ course.title }}">
        <div class="container">
            <div class="module w100 mbl">
                <div class="container-extender">
                    <div class="module w70">
                        <h2>{{ course.title }}</h2>
                        <p class="large">{{ course.description }}</p>
                        <p>Course created by {{ author.name }}</p>
                    </div>

                    <div class="module self-align-right">
                        <a href="{{ url_for('frontend.signup') }}">
                            <button
                                class="button inverse large bold heading-font hvr-icon-forward hvr-sweep-to-right">Join
                                CiC to Enroll</button>
                        </a>
                    </div>
                </div>
            </div>

            {% for unit in units %}
            <div class="module w70 mbs">
                <h4 class="mbs">Unit {{ unit.order }}: {{ unit.title }}</h4>
                <p>{{ unit.description }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="banner" id="banner-next">
        <div class="container lesson">

        </div>
    </section>

    <div class="button glossary-add">
        <i class="fas fa-plus"></i> Add to Glossary
    </div>


</body>

{% endblock %}