<!doctype html>
<html>

<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('frontend.static', filename='css/paint.css') }}">
    <title>{% block title %}Community in Code{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d7c065113f.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Learn to code with the Python programming language.">
    {{ pagedown.include_pagedown() }}
    {% endblock %}
</head>

<body>
    <section class="banner" id="banner-horizontal-navigation">
        <div class="container-extender align-middle">
            <div class="module self-align-left" id="logo">
                <a href="{{url_for('frontend.index')}}">
                    <h1 class="xl rainbow">Community in Code</h1>
                </a>
            </div>

            <!-- <div class="module w30 pm mrm self-align-right quick-search">
                <form action="" id="quick-search">
                    <div class="container">
                        <input type=text class="module w80 small" id="query" placeholder="Find content" />
                        <input type="submit" class="module w15 self-align-right" value="Go" />
                    </div>
                </form>

                <div class="module w30 ps quick-search-results">

                </div>
            </div> -->

            <!-- <div class="module plm self-align-right">
                
            </div> -->

            <div class="module bold self-align-right mob-hide">
                {% if current_user.is_authenticated %}
                <a class="prm"
                    href="{{ url_for('frontend.view_course', course_slug='learn-to-code-with-python') }}">Course</a>
                <a class="prm" href="{{ url_for('frontend.profile') }}">Profile</a>
                <a href="{{ url_for('frontend.logout') }}">Logout</a>
                {% else %}
                <a class="prm"
                    href="{{ url_for('frontend.view_course', course_slug='learn-to-code-with-python') }}">Course</a>
                <a class="prm" href="{{ url_for('frontend.login') }}">Login</a>
                <a href="{{ url_for('frontend.signup') }}">Create Account</a>
                {% endif %}
            </div>


            <div class="module self-align-right desktop-hide">
                <i class="fas fa-bars desktop-hide"></i>
            </div>

            <div class="module self-align-right hidden-menu desktop-hide mob-hide pm">
                <div class="container">
                    <i class="fas fa-times"></i>
                    <div class="module w100 mtl large">
                        {% if current_user.is_authenticated %}
                        <a
                            href="{{ url_for('frontend.view_course', course_slug='learn-to-code-with-python') }}">Course</a><br>
                        <a href="{{ url_for('frontend.profile') }}">Profile</a><br>
                        <a href="{{ url_for('frontend.logout') }}">Logout</a>
                        {% else %}
                        <a class="prm" href="{{ url_for('frontend.login') }}">Login</a><br>
                        <a href="{{ url_for('frontend.signup') }}">Create Account</a>
                        {% endif %}
                    </div>

                    <div class="kofi">
                        <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
                        <script
                            type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'A0A01TNKN'); kofiwidget2.draw();</script>

                    </div>

                </div>

            </div>

        </div>
    </section>

    <div class="kofi mob-hide">
        <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
        <script
            type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'A0A01TNKN'); kofiwidget2.draw();</script>

    </div>


    {% block content %}
    {% endblock %}
</body>

</html>

<style>
    .quick-search {
        position: relative;
    }

    .quick-search-results {
        position: absolute;
        width: 100%;
    }

    .quick-search-results.show {
        background-color: white;
        border: 1px solid #ddd;
        margin-top: 15px;
    }
</style>

<script>
    $('#quick-search').on('submit', function (e) {
        e.preventDefault();
        const query = $('#query').val();
        $('.quick-search-results').removeClass('show').empty();

        $.ajax({
            type: 'GET',
            url: `http://localhost:5000/api/v1/courses?query=${query}`,
        }).done(function (data) {
            console.log(data)
            for (let course of data.courses) {
                let url = `{{ url_for('admin.view_course', course_id="") }}`
                url += course.id;

                $('.quick-search-results').append(
                    `<div class = "module w100">
                    <a href = ${url}>
                        ${course.title}
                    </a>
                </div>`
                ).addClass('show')
            }
        });
    });

    $('.fa-bars').on('click', function () {
        $('.hidden-menu').show();
    });

    $('.fa-times').on('click', function () {
        $('.hidden-menu').hide();
    });
</script>

<script src="{{ url_for('frontend.static', filename='js/rainbow.js') }}"></script>