{% extends 'frontend/layout.html' %}

{% block content %}

<body>

    <section class="banner banner-main" id="lesson-{{ step.title }}">
        <div class="container align-center main w80 w90-mob">
            <div class="module w100 ptxl">
                <h1 class="text-center mbm x2">{{ step.title }}</h1>
            </div>

            <div class="module w100">
                <div class="container align-center">
                    <div class="module ps">
                        <a href="#lesson"><i class="fas fa-1x fa-book-open"></i></a>
                    </div>

                    <div class="module ps">
                        <a href="#codeexample"><i class="fas fa-1x fa-code"></i></a>
                    </div>

                    <div class="module ps">
                        <a href="#tldr"><i class="fas fa-1x fa-th-list"></i></a>
                    </div>

                    <div class="module ps">
                        <a href="#activity"><i class="fas fa-1x fa-pencil-ruler"></i></a>
                    </div>
                </div>
            </div>

            <div class="module w80 w90-mob pbxl large">
                {{ step.content | markdown }}
            </div>
        </div>

        <div class="container w80 w90-mob pbl">
            <div class="module mtm self-align-left">
                {% if prev_step %}
                <a class="bold"
                    href="{{ url_for('frontend.view_step', course_id = course.id, stage_id = unit.id, step_id=prev_step) }}"><i
                        class="fas fa-arrow-left"></i> Previous
                    Lesson</a><br>
                {% endif %}

                <a class="bold" href="{{ url_for('frontend.view_unit', course_id = course.id, stage_id = unit.id) }}"><i
                        class="fas fa-arrow-left"></i> Back to Unit</a>
            </div>

            <div class="module mtm self-align-right">
                {% if next_step %}
                <a class="bold"
                    href="{{ url_for('frontend.view_step', course_id = course.id, stage_id = unit.id, step_id=next_step) }}">Next
                    Lesson <i class="fas fa-arrow-right"></i></a>
                {% endif %}
            </div>
        </div>
    </section>



    <div class="button glossary-add">
        <i class="fas fa-plus"></i> Add to Glossary
    </div>


</body>

{% endblock %}