{% extends 'frontend/layout.html' %}

{% block content %}
<section class="banner">
    <div class="container">
        <div class="module w100 mbm pm large card">
            <h2 class="xl">{{ current_user.name }}</h2>
            {{ current_user.email }}
        </div>
    </div>
</section>


<section class="banner" id="banner-enrollments">
    <div class="container">

        <div class="module w100 mbm">
            {% if courses | length > 0 %}
            <h2 class="xl">Current course enrollments:</h2>
            {% else %}
            <h2 class="xl">Oh no, you're not enrolled in anything!</h2>
            <p>To get started, try <a href="{{ url_for('frontend.view_course', course_id=1) }}">Learn to Code with
                    Python.</a></p>
            {% endif %}
        </div>

        {% for course in courses: %}
        <div class="module w30 pm card">
            <div class="container-extender align-middle">
                <div class="module w100 mbm">
                    <h4 class="mbs">{{ course.title }}</h4>
                    <p>{{ course.description | truncate(100) }}</p>
                </div>

                <div class="module">
                    {% set e = enrollments | selectattr("course_id", "equalto", course.id ) | list | first  %}
                    {% set unit_list = units | selectattr("id", "equalto", e.unit_id) | list  %}
                    {% if unit_list | length > 0 %}
                    {% set unit = unit_list | first %}
                    {% set total_units = course.stages.split(',') | length %}
                    {% set prog = unit.order/total_units %}
                    {% else %}
                    {% set prog = 0 %}
                    {% endif %}

                    {{ prog }}% complete

                </div>
                <div class="button self-align-right">
                    <a href="{{ url_for('frontend.view_course', course_id=course.id) }}">Continue</a>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}